Please fix the code based on the following feedback

<review_comments>
{{ review_comments }}
</review_comments>

<review_threads>
{{ review_threads }}
</review_threads>

<affected_files>
{{ files }}
</affected_files>

<pr_thread_comments>
{{ thread_context }}
</pr_thread_comments>

<comment_to_resolve>
{{ comment_to_resolve }}
</comment_to_resolve>
